astropy             5.0.3
corner              2.2.1
ipywidgets          8.0.2
matplotlib          3.5.2
mxspec              NA
numpy               1.23.2
pandas              1.4.3
scipy               1.9.1
session_info        1.0.0
xspec               NA
yaml                6.0
